# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Hugging Face downloaded models
Models/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db